@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Management</h1>
    <p class="lead">
        Library management system is designed to manage the movement of books and maintain records of the members in a library.
        The purpose of a library management system is to manage & track the daily work of the library such as issuing books, return books,
        due calculations, etc.It helps in maintaining records. One can track any information through this system. It increases the efficiency and saves human effort and time.</p>
<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
</div>